/* Global Style Resets */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden !important;
  position: relative;
  font-size: 14px !important;
  font-family: 'IBM Plex Serif', 'Roboto', Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  color: #000;
  margin: 0;
  padding: 5px;
  padding-bottom: 0;
} @media (min-width: 540px) {
  body {
    font-size: 16px !important;
  }
}
/* Resets */
div, span, h1, p, ul, li, a, form, input, button {
  padding: 0;
  margin: 0;
}
.bold {
  font-weight: bold;
}

@media (min-width: 0px) {
  /****************
  general
  */
  .hidden-mob {
    display: none;
  }
  /****************
  nav
  */
  .nav {
    display: none;
  }

  /****************
  Panel
  */
  .panel {
    display: block;
  }

  /****************
  Left Panel | Top Panel
  */
  .l-panel {
    background-color: #162577;
    background-image: url('./img/bg/main_phone_sm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .l-panel .panel-wrapper {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  /* Logo */
  .l-panel .logo img {
    max-width: 140px;
  }
  /* Title */
  .title h1 {
    font-family: 'Poppins', 'Montserrat', 'Avenir', sans-serif;
    font-weight: bold;
    font-size: 42px;
  }
  /* Divider */
  .divider {
    display: block;
    width: 45px;
    height: 3px;
    margin: 15px auto;
    margin-bottom: 5px;
    background-color: #ed1c24;
  }
  /* Subtitle */
  .subtitle {
    display: block;
    padding-top: 15px;
    line-height: 1.8em;
  }
  .subtitle p {
    font-size: 14px;
  }

  /****************
  Right Panel | Btm Panel
  */
  .r-panel {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  .r-panel .panel-wrapper {
    max-width: 90%;
    margin:  0 auto;
  }
  #pledge-form {
    display: block;
    text-align: center;
  }
  #pledge-form input {
    display: inline-block;
    outline: none;
    border: none;
    width: 98%;
    margin: 0 auto;
    max-width: 420px;
    font-family: 'Poppins', 'Montserrat', 'Avenir', sans-serif;
    font-size: 14px;
    border: 2px solid #91d9f8;
    color: #333;
    padding: 12px 0;
    padding-left: 12px;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  #pledge-form input:focus {
    border-color: #3959a7;
  }
  #pledge-form button {
    background-color: #ed1c24;
    outline: none;
    border: none;
    width: 100%;
    max-width: 430px;
    padding: 18px 12px;
    font-family: 'Poppins', 'Montserrat', 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 5px;
    margin-top: 6px;
    transition: box-shadow 0.12s ease, margin 0.12s ease;
  }
  #pledge-form button:hover {
    box-shadow: 2px 0 20px rgba(0,0,0,.5);
    margin-top: 3px;
    cursor: pointer;
  }
  #pledge-form button.disabled {
    background-color: #777;
  }

  /****************
  Btm Content
  */
} @media (min-width: 320px) {

} @media (min-width: 440px) {

} @media (min-width: 540px) {

} @media (min-width: 600px) {

} @media (min-width: 720px) {

} @media (min-width: 768px) {
  /****************
  Left Panel | Top Panel
  */
  .l-panel {
    background-image: url('./img/bg/main_phone_lg.png');
    width: 50%;
    display: inline-block;
    float: left;
    height: 95vh;
  }

  /****************
  Right Panel | Top Panel
  */
  .r-panel {
    width: 50%;
    display: inline-block;
    float: left;
    height: 95vh;
  }

} @media (min-width: 850px) {

} @media (min-width: 920px) {

} @media (min-width: 992px) {
  /****************
  Left Panel | Top Panel
  */
  .l-panel {
    background-image: url('./img/bg/main_tablet.png');
  }

} @media (min-width: 1140px) {

} @media (min-width: 1200px) {
  /****************
  Left Panel | Top Panel
  */
  .l-panel {
    background-image: url('./img/bg/main_desktop.png');
  }

} @media (min-width: 1320px) {

} @media (min-width: 1440px) {

}
